{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'chat_room.css' %}" rel="stylesheet"> 
{% endblock head %}

{% block content %}
<div class="container">
<div id="chat-room-body">
{% for message in messages %}
 {% if message.user == user %}
   <div class="chat-box-right">
        <div class="chat-txt chat-txt-right">{{message.content}}</div>
   </div>
   <span><sub class="chat-time-right">{{message.created_at|date:"H:i"}}</sub></span>
 {% else %}
  <div class="chat-box-left">
      <div class="icon-img-left">
        <img src="{{ Partner.ProfileImage.url }}" class="user-icon">
      </div>
       <div class="chat-txt chat-txt-left">{{message.content}}</div>
   </div>
   <span><sub class="chat-time-left">{{message.created_at|date:"H:i"}}</sub></span>
 {% endif %}
{% endfor %}
</div>

<footer class="footer mt-auto py-3 fixed-bottom">
    <div class="container d-flex">
        <textarea name="text" class="d-flex form-control" placeholder="メッセージを入力" id="msg" required="" value=""></textarea>
        <div class="d-flex">
         <button id="send" class="btn btn-success ms-auto">送信</button>
        </div>
    </div>
</footer>
{% endblock content %}

{% block footer%}
<script src="{% static 'chat_room.js' %}"></script>

<script>
const url = 'wss://book-sns-0209.herokuapp.com/ws/' + '{{ room.id }}'
var ws = new WebSocket(url)

document.getElementById("send").onclick = function sendMessage () {
    var sendData = {
        message: document.getElementById('msg').value,
        room_name:'{{ room.id }}',
        user_id:'{{ user.id }}'
    };
    ws.send(JSON.stringify(sendData));

    var textarea=document.getElementById("msg");
    textarea.value="";
    textarea.style.height="30px";
    setTimeout(scrollToBottom,100);
};

ws.onmessage = e => {
    console.log(7)
    var receiveData = JSON.parse(e.data)
    var messageBox = document.createElement('div')
    var timetag=document.createElement('span')
    if(receiveData.user_id=='{{user.id}}'){
        messageBox.className = 'chat-box-right'
        var body = '<div class="chat-txt chat-txt-right">' + receiveData.message + '</div>'
        var time='<sub class="chat-time-right">'+receiveData.created_time+'</sub>'
        messageBox.innerHTML=body
        timetag.innerHTML=time
    }
    else{
        messageBox.className = 'chat-box-left'
        var imgUrl='{{Partner.ProfileImage.url}}'
        var imgtag='<div class="icon-img-left"><img src='+imgUrl+' class="user-icon"></div>'
        var body = '<div class="chat-txt chat-txt-left">' + receiveData.message + '</div>'
        var time='<sub class="chat-time-left">'+receiveData.created_time+'</sub>'
        messageBox.innerHTML=imgtag+body
        timetag.innerHTML=time
    }
    document.getElementById('chat-room-body').appendChild(messageBox)
    document.getElementById('chat-room-body').appendChild(timetag)
}

</script>
{% endblock footer %}