{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'home.css' %}" rel="stylesheet"> 
<link href="{% static 'up_button.css' %}" rel="stylesheet"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock head %}
{% block title %}
ホーム
{% endblock title %}

{% block header %}
<!-- navbar(検索フォーム付き) -->
<nav class="navbar bg-dark sticky-top mb-3">
  <div class="container-fluid">
    <a class="navbar-brand navbarTextColor"><i class="far fa-smile-beam smileIcon"></i>SNS_App</a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">ホーム</a></li>
      <li class="nav-item"><a href="{% url 'SearchItem' 'Search' %}" class="nav-link"><i class="fas fa-search"></i>探す</a></li>
      <li class="nav-item"><a href="{% url 'Chat' user.id %}" class="nav-link">チャット</a></li>
      <li class="nav-item"><a href="{% url 'userPage' user.id %}" class="nav-link">マイページ</a></li>
    </ul>

    <form method="GET" class="d-flex" action="{% url 'search_user' %}">
      <input class="form-control" type="text" placeholder="ユーザーを検索" aria-label="Search" name="keyword_user">
      <button class="btn btn-success" type="submit"><i class="fas fa-search"></i><span>検索</span></button>
    </form>
  </div>
</nav>
{% endblock header %}

{% block content %}
<!-- ログアウト、検索バー、tweetボタンなど -->
<div class="mx-3 mb-4">
    <form method="GET" class="d-flex">
      <a href="{% url 'logout' %}" class="btn btn-success" role="button" aria-pressed="true">ログアウト</a>
        <input type="text" class="form-control Search-form ms-auto" placeholder="tweetを検索" name="keyword">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i><span>検索</span></button>
    </form>
</div>

  <div class="font-bold profile-container d-flex flex-wrap align-items-center">
    <a href="{% url 'userPage' user.id %}" class="me-3" role="button" aria-pressed="true">
      <img src="{{ user.ProfileImage.url }}" class="user-icon" >
    </a>
    {{user.username}}
    <a href="{% url 'SelectItem' %}" class="btn btn-success ms-3" role="button" aria-pressed="true">投稿する</a>
  </div>
<!------------------------------------->

<!-- 投稿の一覧 -->
{% for tweet in tweetmodel_list reversed %}
<div class="tweet-container container border border-secondary">
    <p class="font-bold d-flex">
      <a href="{% url 'userPage' tweet.user.id %}" class="me-3" role="button" aria-pressed="true">
      <img src="{{ tweet.user.ProfileImage.url }}" class="user-icon">
      </a>
      {{ tweet.user.username }} 
      {% if user == tweet.user %}
      <button type="button" class="btn btn-danger del_confirm" data-bs-toggle="modal" data-bs-target="#DeleteModal"  data-deleteurl="{% url 'TweetDelete' tweet.id %}">削除</button>
      {% endif %}
    </p>
   <p class="tweet-text">{{ tweet.content | linebreaksbr }}</p>
   <div class="d-flex book-container border border-secondary">
      <img src="{{ tweet.book.imageUrl }}" alt="" class="book-img me-3">
      <div>
       <h6><a href="{{ tweet.book.itemUrl }}" class="book-title">{{ tweet.book.title}}</a></h6>
       <p class="text-primary">{{ tweet.book.author }}</p>
      </div>
   </div>
  <div class="d-flex"> 
    <form action="{% url 'like' %}" method="POST" class="d-flex">{% csrf_token %}
      {% if tweet.id in liked_list %}
          <button id="like" name="tweet-{{tweet.id}}" data-like-type="tweet"><i class="fas fa-lg fa-heart like-after"></i></button>
      {% else %}
          <button id="like" name="tweet-{{tweet.id}}" data-like-type="tweet"><i class="far fa-lg fa-heart like-before"></i></button>      
      {% endif %}
      <p name="tweet-count-{{tweet.id}}" class="count"> {{ tweet.like_set.count }} </p>
    </form>
    <div class="stars ms-auto" name="{{ tweet.rating }}">
      <span class="star" name="1">★</span>
      <span class="star" name="2">★</span>
      <span class="star" name="3">★</span>
      <span class="star" name="4">★</span>
      <span class="star" name="5">★</span>
    </div>
  </div>
  <hr>
   <div class="comment">
    <a href="{% url 'CreateComment' tweet.id %}" class="me-3" role="button" aria-pressed="true">
     コメント>
    </a>
   </div>
</div>
{% endfor %}
<!------------------------------>

<button id="UpButton"><i class="fas fa-angle-double-up"></i></button>

<!-- DeleteModal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">確認</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        本当に削除してよろしいですか?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <a href="#" class="btn btn-danger" id="del_url">OK</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
<script src="{% static 'up_button.js' %}"></script>
<script src="{% static 'tweet.js' %}"></script>

<!--いいね機能のAjax処理-->
<script type="text/javascript">
  $(document).ready(function(event){
    $(document).on('click', '#like', function(event){
      event.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'like' %}",
            data: {
                'likeInfo': $(this).attr('name'),
                'like_type':$(this).data('like-type'),
                'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json'
        })
        .done(function(response){
            selector = document.getElementsByName(response.like_type+"-"+response.id);
                    if(response.liked){
                        $(selector).html("<i class='fas fa-lg fa-heart like-after'></i>");
                    }
                    else {
                        $(selector).html("<i class='far fa-lg fa-heart like-before'></i>");
                    }
                    selector2 = document.getElementsByName(response.like_type+"-count-"+response.id);
                    $(selector2).text(response.count);
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
            console.log("ajax通信に失敗しました");
            console.log("jqXHR          : " + jqXHR.status); 
            console.log("textStatus     : " + textStatus);    
            console.log("errorThrown    : " + errorThrown.message); 
            console.log("URL            : " + url);
    });
             
    });
  });
  </script>
{% endblock footer%}
