{% extends 'base.html' %}
{% load widget_tweaks%}
{% load static %}

{% block head %}
<link href="{% static 'Item-search.css' %}" rel="stylesheet"> 
{% endblock head %}

{% block content %}
<div class="my-5">
    <form method="post" action="{% url 'SearchItem' From %}" class="d-flex" id="Search-form">{% csrf_token %}
        <div class="align-items-center w-100">
            {% render_field form.title class="form-control" placeholder="キーワードから探す"%}
        </div>
        {{ form.category }}
        {{ form.page }}
        <button class="btn btn-success" type="submit">検索</button>
    </form>
    <h4 class="list-title mt-5">ジャンルから探す</h4>
    <ul class="list-group" id="ListGroup"></ul>
</div>
{% endblock content %}

{% block footer %}
<script type="text/javascript">

var Select_category=document.getElementById("id_category");

const ListGroup=document.getElementById("ListGroup");
for(let i=1;i<Select_category.options.length;i++){

    var li_element=document.createElement('li');
    li_element.className="list-group-item"

    var a_tag_button=document.createElement('a');
    a_tag_button.setAttribute('class', 'select-category');
    a_tag_button.setAttribute('name', Select_category[i].value);
    a_tag_button.setAttribute('role', 'button');
    a_tag_button.innerHTML=Select_category[i].innerHTML;

   a_tag_button.addEventListener("click", function (event) {
    Select_category.value=this.name;
    let form = document.getElementById("Search-form");
    form.submit();
 });

    li_element.appendChild(a_tag_button);
    ListGroup.appendChild(li_element);
}

</script>
{% endblock footer %}