{% extends 'base.html' %}
{% load widget_tweaks%}
{% load static %}

{% block head %}
<link href="{% static 'Itemlist.css' %}" rel="stylesheet"> 
{% endblock head %}
{% block content %}
<div class="text-center my-5">
    <form method="post" action="{% url 'SearchItem' From %}" class="d-flex" id="Search_form">{% csrf_token %}
        <div class="align-items-center w-100">
            {% render_field form.title class="form-control" placeholder="キーワードから探す"%}
        </div>
        {{ form.category}}
        {{ form.page_number }}
        <button class="btn btn-success" type="submit">検索</button>
    </form>
</div>
<div class="container my-5">
    <div class="mb-5 border-bottom">
        {% if keyword %}
        <h3>「{{ keyword }}」の検索結果</h3>
        {% endif %}
    </div>
    <div class="bookList">
        {% for book in book_data %}
            <div class="bookTag">
                    <img src="{{ book.image }}" alt="" class="book-img me-3">
                    <div class="px-2 py-3">
                        <h5><a href="{{ book.itemUrl }}" class="book-title">{{book.title}}</a></h5>
                        <p class="text-primary">{{book.author}}</p>
                        <h3 class="text-warning">{{book.itemPrice}}円<sub class="text-secondary">(税込み)</sub></h3>
                    </div>
                    {% if From == "Select" %}
                     <div class="ms-auto"><a href="{% url 'SelectItem' book.ISBNcode %}" class="btn btn-success" role="button" aria-pressed="true">選択</a></div>
                    {% elif From == "Search" %}
                    <div class="ms-auto"><a href="{% url 'TweetOfItem' book.ISBNcode %}" class="btn btn-success" role="button" aria-pressed="true">みんなの投稿を見る</a></div>
                    {% endif %}
            </div>
        {% empty %}
                <p>該当するものはありません</p>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example" id="paging">
        <ul class="pagination">
          {% if page_number != 1 %}
          <li class="page-item">
            <button v-on:click="back_page_post" class="page-link" id="page-link-left" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </button>
          </li>
          {% endif %}

          {% for num in for_range %}
            {% if page_number == num %}
                <li class="page-item active"><button v-on:click="paging_post" class="page-link page-link-num">{{ num }}</button></li>
            {% else %}
                <li class="page-item"><button v-on:click="paging_post" class="page-link page-link-num">{{ num }}</button></li>
            {% endif %}
          {% endfor %}

          {% if page_number != 10 %}
          <li class="page-item">
            <button v-on:click="next_page_post" class="page-link" id="page-link-right" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </button>
          </li>
          {% endif %}
        </ul>
      </nav>
</div>
{% endblock content %}

{% block footer %}
<script type="text/javascript">

const PagingApp=Vue.createApp({
    data:()=>({
        page_number_ele:''
    }),
    mounted:function(){
        this.page_number_ele=document.getElementById("id_page_number")
    },
    methods:{
        paging_post:function(event){
            this.page_number_ele.value=event.target.innerHTML
            let form = document.getElementById("Search_form")
            form.submit()
        },
        back_page_post:function(event){
          this.page_number_ele.value=Number(this.page_number_ele.value)-1
          let form = document.getElementById("Search_form")
          form.submit()
        },
        next_page_post:function(event){
          this.page_number_ele.value=Number(this.page_number_ele.value)+1
          let form = document.getElementById("Search_form")
          form.submit()
        }
    }
})
PagingApp.config.compilerOptions.delimiters = ['[[', ']]']
PagingApp.mount('#paging')

</script>
{% endblock footer %}