{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'password_change.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

{% endblock head %}
{% block title %}
パスワード変更完了
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
  
<div class="container d-flex justify-content-center align-items-center h-100">
    <main class="text-center">
      <p class="h3">パスワードを変更しました</p>
      <div class="d-flex mt-4">
        <a class="btn btn-success ms-auto me-auto" href="{% url 'home' %}">ホームへ戻る</a>
      </div>
    </main>
</div>

{% endblock content %}
