{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'password_reset.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

{% endblock head %}
{% block title %}
パスワードリセット用メール送信完了
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
  
<div class="container d-flex justify-content-center align-items-center h-100">
    <main class="text-center">
      <p class="h5">パスワードリセットのメールを送信しました。</p>
      <br>
      <p class="h5">メールに記載されているリンクからパスワードの再設定を行ってください。</p>
      <br>
      <p class="h6 text-warning">※メールが届かない場合、登録しているメールアドレスが有効でない可能性があります</p>
      <div class="d-flex mt-4">
        <a class="btn btn-success ms-auto me-auto" href="{% url 'login' %}">ログイン画面へ</a>
      </div>
    </main>
</div>

{% endblock content %}
