{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'password_reset.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

{% endblock head %}
{% block title %}
パスワード変更
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container mt-5">
<main>
    <div class="d-flex ms-auto">
      <p>メールを受信してパスワードの変更手続きを行います。</p>
    </div>
    <div class="d-flex ms-auto">
      <p>メールアドレスを入力して送信ボタンを押してください。</p>
    </div>
    <form action="" method="POST">{% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group mb-3">
            {{ field }}
            <span class="text-warning">{{ field.errors | linebreaksbr }}</span>
        </div>
        {% endfor %}
        <div class="d-flex ms-auto">
          <p class="text-left" id="precaution">メールアドレスはあらかじめシステムに登録が必要です。<br>メールが届かない場合はシステム管理者に連絡してください。</p>
        </div>
          <div class="d-flex">
            <button type="submit" class="btn btn-success ms-auto">送信</button>
          </div>
    </form>
</main>
</div>

{% endblock content %}
