{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'home.css' %}" rel="stylesheet"> 
<link href="{% static 'up_button.css' %}" rel="stylesheet"> 
{% endblock head %}

{% block title %}
{% endblock title %}

{% block content %}
{% if not tweetmodel_list %}
<h1 class="mt-5 ms-3">まだ投稿がありません</h1>
{% else %}
{% for tweet in tweetmodel_list %}
<div class="tweet-container container border border-secondary">
    <p class="font-bold d-flex">
      <a href="{% url 'userPage' tweet.user.id %}" class="me-3" role="button" aria-pressed="true">
      <img src="{{ tweet.user.ProfileImage.url }}" class="user-icon">
      </a>
      {{ tweet.user.username }} 
      {% if user == tweet.user %}
      <button type="button" class="btn btn-danger del_confirm" data-bs-toggle="modal" data-bs-target="#DeleteModal"  data-deleteurl="{% url 'TweetDelete' tweet.id %}">削除</button>
      {% endif %}
    </p>
   <p class="tweet-text">{{ tweet.content | linebreaksbr }}</p>
   <div class="d-flex book-container border border-secondary">
      <img src="{{ tweet.book.imageUrl }}" alt="" class="book-img me-3">
      <div>
       <h6><a href="{{ tweet.book.itemUrl }}" class="book-title">{{ tweet.book.title}}</a></h6>
       <p class="text-primary">{{ tweet.book.author }}</p>
      </div>
   </div>
  <div class="d-flex"> 
    <form action="{% url 'like' %}" method="POST" class="d-flex">{% csrf_token %}
      {% if tweet.id in liked_list %}
          <button id="like" name="{{tweet.id}}" data-like-type="MainLike"><i class="fas fa-lg fa-heart like-after"></i></button>
      {% else %}
          <button id="like" name="{{tweet.id}}" data-like-type="MainLike"><i class="far fa-lg fa-heart like-before"></i></button>      
      {% endif %}
      <p name="{{tweet.id}}-count" class="count"> {{ tweet.like_set.count }} </p>
    </form>
    <div class="rating ms-auto">
      <span class="stars" id="star-1" name="{{tweet.rating}}">★</span>
      <span class="stars" id="star-2" name="{{tweet.rating}}">★</span>
      <span class="stars" id="star-3" name="{{tweet.rating}}">★</span>
      <span class="stars" id="star-4" name="{{tweet.rating}}">★</span>
      <span class="stars" id="star-5" name="{{tweet.rating}}">★</span>
    </div>
  </div>
  <hr>
   <div class="comment">
    <a href="{% url 'CreateComment' tweet.id %}" class="me-3" role="button" aria-pressed="true">
     コメント>
    </a>
   </div>
</div>
{% endfor %}
<button id="UpButton"><i class="fas fa-angle-double-up"></i></button>

<!-- DeleteModal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">確認</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        本当に削除してよろしいですか?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <a href="#" class="btn btn-danger" id="del_url">OK</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}

{% block footer %}
<script src="{% static 'up_button.js' %}"></script>
<script src="{% static 'tweet_del.js' %}"></script>
<script src="{% static 'stars.js' %}"></script>
{% endblock footer %}