{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'search_user.css' %}" rel="stylesheet"> 
<link href="{% static 'up_button.css' %}" rel="stylesheet"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock head %}

{% block title %}
ユーザー検索ページ
{% endblock title %}

{% block content %}
  
<main class="form-search-user">
{% if user_list %}    
<!-- ユーザー一覧 -->
<div id="user_list">
{% for user_i in user_list%}
  <div class="user-container container border border-secondary">
    <div class="font-bold d-flex flex-wrap">
      <a href="{% url 'userPage' user_i.id %}" class="me-3" role="button" aria-pressed="true">
        <img src="{{ user_i.ProfileImage.url }}" class="user-icon">
      </a>
      {{ user_i.username }} 
      {% if user_i != user %}
      <div class="ms-auto">
          {% if user_i.id in following_list %}
              <button id="follow_{{user_i.id}}" v-on:click="follow_post" name="{{user_i.id}}" class="follow btn btn-light clear-decoration">フォロー解除</button>
          {% else %}
              <button id="follow_{{user_i.id}}" v-on:click="follow_post" name="{{user_i.id}}" class="follow btn btn-success clear-decoration">フォロー</button>      
          {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
<!---------------->

  <button id="UpButton"><i class="fas fa-angle-double-up"></i></button>
{% else %}
  {% if type == 'follower' %}
  <h1>まだフォロワーはいません</h1>
  {% else %}
  <h1>まだフォローしているユーザーはいません</h1>
  {% endif %}
{% endif %}
</main>
{% endblock content %}

{% block footer %}
<script src="{% static 'up_button.js' %}"></script>

<!-- フォロー機能のajax処理 -->
<script type="text/javascript">
const UserListApp=Vue.createApp({
    data:()=>({
        follow_url:"{% url 'follow' %}"
    }),
    methods:{
        follow_post:function(event){
          const headers={
              'X-Requested-With': 'XMLHttpRequest',
              'Content-Type':'application / json',
              'X-CSRFToken':'{{ csrf_token }}'
          }
          let follow_data={
            "follow_id":event.currentTarget.name,
          }
          follow_data=JSON.stringify(follow_data)
          axios.post(this.follow_url,follow_data,{headers:headers})
          .then(function(res){
            const target_button=document.getElementById('follow_'+res.data.follow_id);
            if(res.data.followed){
              target_button.classList.remove("btn-success")
              target_button.classList.add("btn-light")
              target_button.innerText="フォロー解除"
            }else{
              target_button.classList.remove("btn-light")
              target_button.classList.add("btn-success")
              target_button.innerText="フォロー"
            }
            target_button.blur()
          })
          .catch(function(error){
            console.log(error)
          })
        }
    }
})
UserListApp.config.compilerOptions.delimiters = ['[[', ']]']
UserListApp.mount('#user_list')
</script>
{% endblock footer%}